.building{
    position:absolute;
    
    left:37%;
    top:50%;
    
    width: max-content;
    
    margin-left:-110px;
    margin-top:-120px;

}

.body{
    background-color:#000000;

}

a:hover{
    color:#b4b4b4;
}

.more-info{
    background: black;
}

.back-to-start {
    width: 100px;
    height: 35px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #FBC412;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid #FBC412;
    color: #464646;

}
.back-to-start:hover {
    width: 105px;
    height: 40px;
    color: black;
    font-size: 15px;

}